@page "/exercises"
@using BlazorWebAppDemo.Services

<h3>Exercise</h3>

<table class="table">
    <thead>
        <tr>
            <th>Exercise</th>
            <th>Description</th>
            <th>Duration in minutes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exercise in ExerciseServices.getExercises())
        {
            <tr>
                <td>@exercise.Name</td>
                <td>@exercise.Description</td>
                <td>@exercise.DurationInMinutes</td>
            </tr>
        }
    </tbody>
</table>
